Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team

feat: Replace multiple video windows with single modern playlist player
  templates/workouts/workout_day.html
Owners: @alexbel

feat: Create modern clean video player design with accessible controls
  templates/workouts/workout_day.html
Owners: @alexbel

feat: Implement Netflix-inspired immersive video player experience
  templates/workouts/workout_day.html
Owners: @alexbel

feat: Add dashboard-style background to immersive video player
  templates/workouts/my_plan.html
  templates/workouts/workout_day.html
Owners: @alexbel

Move duplicate and obsolete documentation files to attic/obsolete_docs
  attic/obsolete_docs/BOOTSTRAP_UPLOAD_GUIDE.md
  attic/obsolete_docs/DEPLOYMENT.md
  attic/obsolete_docs/DEPLOYMENT_CHECKLIST.md
  attic/obsolete_docs/DEPLOYMENT_INSTRUCTIONS.md
  attic/obsolete_docs/DEPLOY_TRIGGER.md
  attic/obsolete_docs/LEGACY_VALIDATION_REPORT.md
  attic/obsolete_docs/MIGRATION_MEMO.md
  attic/obsolete_docs/MIGRATION_STATE.txt
  attic/obsolete_docs/PR1_DESCRIPTION.md
  attic/obsolete_docs/PR2_DESCRIPTION.md
  attic/obsolete_docs/PR3_DESCRIPTION.md
  attic/obsolete_docs/PRODUCTION_FIX_MIGRATIONS.md
  attic/obsolete_docs/PRODUCTION_MIGRATION_RUNBOOK.md
  attic/obsolete_docs/R2_BUCKET_POLICY_SETUP.md
  attic/obsolete_docs/R2_MEDIA_DOCUMENTATION.md
  attic/obsolete_docs/RENDER_DEPLOYMENT.md
  attic/obsolete_docs/VALIDATOR_GUIDE.md
  attic/obsolete_docs/ai_test_sample.json
  attic/obsolete_docs/backup_motivational_cards_2025-08-13.json
  attic/obsolete_docs/create_github_release_manual.md
  attic/obsolete_docs/database_schema_analysis.json
  attic/obsolete_docs/r2_cors_config.json
  attic/obsolete_docs/r2_exercise_whitelist.txt
  attic/obsolete_docs/r2_upload_log.json
  attic/obsolete_docs/r2_upload_state.json
  attic/obsolete_docs/simulated_prompt_output.txt
  attic/obsolete_docs/static_validation_report.json
  attic/obsolete_docs/📊 Структура хранилища Cloudflare R2.docx
Owners: @alexbel, @docs-team

Strengthen .gitignore to prevent reintroduction of garbage files
  .gitignore
Owners: @alexbel

feat: Modernize onboarding error page with glass morphism design
  templates/onboarding/error.html
Owners: @alexbel

feat: Re-enable AI workout plan generation
  CLAUDE.md
  README.md
  apps/ai_integration/services.py
  apps/onboarding/urls.py
  apps/onboarding/views.py
  config/settings.py
Owners: @alexbel, @docs-team, @ml-team, @frontend-team, @devops-team

fix: Restore missing AI integration modules
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/prompt_manager_v2.py
  apps/ai_integration/schemas.py
  apps/ai_integration/schemas_json_simple.py
  apps/ai_integration/schemas_simple.py
  apps/ai_integration/validators.py
Owners: @alexbel, @ml-team

fix: Restore AI integration files from git to fix syntax errors
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/prompt_manager_v2.py
  apps/ai_integration/schemas_json_simple.py
Owners: @alexbel, @ml-team

fix: Add missing import for create_workout_plan_from_onboarding
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Correct DailyWorkout unique constraint to include week_number
  apps/workouts/migrations/0003_fix_daily_workout_unique_constraint.py
  apps/workouts/models.py
Owners: @alexbel, @backend-team

fix: Remove demo plan creation, use AI-generated plans exclusively
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

feat: Generate video playlists immediately after AI plan creation
  apps/ai_integration/services.py
Owners: @alexbel, @ml-team

feat: Add management command to deactivate workout plans
  apps/workouts/management/commands/deactivate_plan.py
Owners: @alexbel, @backend-team

fix: Auto-deactivate broken plans without daily workouts
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Comment out unimplemented story chapter feature
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Use Django template comments to prevent URL parsing in story feature code
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Remove story chapter code completely to fix NoReverseMatch error
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Return all active exercises in whitelist - videos are type-based not exercise-specific
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix: Remove non-existent is_active filter from CSVExercise query
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix: Use correct field name total_workouts_completed in workout completion
  apps/workouts/views.py
Owners: @alexbel, @backend-team

debug: Add logging to troubleshoot empty video playlist
  apps/workouts/views.py
Owners: @alexbel, @backend-team

fix: Override is_rest_day flag when workout has video playlist
  apps/workouts/management/commands/fix_rest_day_flags.py
  apps/workouts/views.py
Owners: @alexbel, @backend-team

fix: Remove queries for non-existent database columns in ExerciseValidationService
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix: Make start workout overlay hide properly and allow video controls
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Remove Video Debug Panel that blocks video controls
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Move video progress overlay to top to avoid blocking controls
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Remove video progress overlay completely to avoid blocking video
  templates/workouts/daily_workout.html
Owners: @alexbel

fix: Fix workout page buttons and exercise information display
  apps/workouts/views.py
  templates/workouts/components/progress_tracker.html
  templates/workouts/daily_workout.html
Owners: @alexbel, @backend-team
