Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team

migrations: safe drop of legacy constraint unique_weekly_lesson (IF EXISTS)
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

migrations: fix PostgreSQL error - remove reference to non-existent workouts_weeklylesson table
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

ci: add comprehensive migration testing for fresh databases
  .github/workflows/migration-test.yml
  .github/workflows/tests.yml
  scripts/test_weekly_lesson_constraints.py
Owners: @alexbel, @devops-team

migrations: fix AddField collision for existing production columns
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

migrations: optimize safe_add_exercise_columns function
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

migrations: add safe guards for VideoClip fields to prevent DuplicateColumn errors
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

fix(migration): replace AlterUniqueTogether with safe constraint operation in 0016
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

fix(migration): add safe index operations to prevent duplicate index errors in 0016
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

fix(migration): improve safe_add_videoclip_indexes for PostgreSQL compatibility
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

fix(migrations): correct table name handling in safe_remove_legacy_fields
  apps/workouts/migrations/0016_add_video_provider_fields.py
Owners: @alexbel, @backend-team

fix(migrations): clean VideoClip data before adding constraints in 0017
  apps/workouts/migrations/0017_add_provider_constraints.py
Owners: @alexbel, @backend-team

fix: use CSVExercise instead of Exercise in validation service
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix: comprehensive model and system fixes for production deployment
  apps/core/management/commands/smoke_v2_ready.py
  apps/onboarding/views.py
  apps/workouts/management/commands/bootstrap_v2_min.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/migrations/0020_add_is_active_to_csvexercise.py
  apps/workouts/models.py
  apps/workouts/services.py
  apps/workouts/views.py
  config/settings.py
  prompts/v2/user/master_mentor.user.md
Owners: @alexbel, @backend-team, @frontend-team, @devops-team, @docs-team

fix(migrations): safe constraint removal in 0020 - check existence before drop
  apps/workouts/migrations/0020_add_is_active_to_csvexercise.py
Owners: @alexbel, @backend-team

fix: resolve migration conflicts and eliminate duplicate constants
  apps/core/constants.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/migrations/0020_add_is_active_to_csvexercise.py
  config/settings.py
Owners: @alexbel, @backend-team, @devops-team

fix(migrations): correct table name in migration 0020 - use 'csv_exercises' not 'workouts_csvexercise'
  apps/workouts/migrations/0020_add_is_active_to_csvexercise.py
Owners: @alexbel, @backend-team

fix(migrations): add state-sync migration to resolve Django model state discrepancies
  apps/workouts/migrations/0021_sync_model_state.py
Owners: @alexbel, @backend-team

fix(onboarding): add management command to load motivational cards with images
  apps/onboarding/management/__init__.py
  apps/onboarding/management/commands/__init__.py
  apps/onboarding/management/commands/load_onboarding_data.py
Owners: @alexbel, @frontend-team

fix(ai): replace 'slug' with 'id' for CSVExercise queries
  apps/core/services/exercise_validation.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/services.py
  apps/workouts/views.py
Owners: @alexbel, @backend-team

fix(motivational-cards): implement proper R2 public access for images
  R2_PUBLIC_ACCESS_SETUP.md
  apps/onboarding/management/commands/load_onboarding_data.py
  apps/onboarding/models.py
  setup_r2_public_access.py
Owners: @alexbel, @docs-team, @frontend-team, @backend-team

fix(images): add R2 bucket policy setup and URL fix for motivational cards
  RENDER_R2_SETUP_GUIDE.md
  apply_bucket_policy.py
  apps/onboarding/management/commands/fix_motivational_card_urls.py
Owners: @alexbel, @docs-team, @frontend-team

fix(r2): update bucket policy script to use AWS_* environment variables
  apply_bucket_policy.py
Owners: @alexbel

feat(r2): add Cloudflare R2 public access setup via Dashboard
  R2_PUBLIC_ACCESS_CLOUDFLARE.md
  setup_r2_public_domain.py
Owners: @alexbel, @docs-team

fix(r2): update URLs to actual Cloudflare Public Development domain
  apps/onboarding/management/commands/fix_r2_domain_final.py
Owners: @alexbel, @frontend-team

feat(ui): redesign motivational cards with fullscreen glassmorphism style
  templates/onboarding/question.html
Owners: @alexbel

fix: improve motivational cards design and fix AI validation
  CLAUDE.md
  apps/ai_integration/validators.py
  apps/onboarding/management/commands/update_r2_urls.py
  static/css/motivational-card.css
  templates/onboarding/question.html
Owners: @alexbel, @docs-team, @ml-team, @frontend-team

fix(ai): resolve AI plan generation hanging due to validation errors
  apps/ai_integration/ai_client.py
  apps/ai_integration/validators.py
  templates/onboarding/question.html
Owners: @alexbel, @ml-team

feat(comprehensive): Complete R2 video system integration and comprehensive AI flow
  .env.r2.example
  apps/ai_integration/ai_client.py
  apps/ai_integration/comprehensive_validator.py
  apps/ai_integration/management/__init__.py
  apps/ai_integration/management/commands/__init__.py
  apps/ai_integration/management/commands/test_comprehensive_ai.py
  apps/ai_integration/management/commands/test_template_render.py
  apps/ai_integration/management/commands/verify_comprehensive_flow.py
  apps/ai_integration/schemas.py
  apps/ai_integration/services.py
  apps/onboarding/urls.py
  apps/onboarding/views.py
  apps/workouts/admin.py
  apps/workouts/constants.py
  apps/workouts/management/commands/analyze_r2_structure.py
  apps/workouts/management/commands/check_exercise_mapping.py
  apps/workouts/management/commands/extract_exercises_from_r2.py
  apps/workouts/management/commands/generate_video_content.py
  apps/workouts/management/commands/load_weekly_themes.py
  apps/workouts/management/commands/playlist_analysis_deep.py
  apps/workouts/management/commands/sync_r2_videos.py
  apps/workouts/management/commands/system_data_audit.py
  apps/workouts/management/commands/test_video_playlist.py
  apps/workouts/management/commands/video_mechanism_analysis.py
  apps/workouts/migrations/0022_add_contextual_video_fields.py
  apps/workouts/migrations/0023_alter_videoclip_exercise.py
  apps/workouts/models.py
  apps/workouts/services.py
  config/settings.py
  debug_video_system.py
  prompts/v2/schemas/comprehensive_ai_report.json
  prompts/v2/system/comprehensive_mentor.system.md
  prompts/v2/system/comprehensive_peer.system.md
  prompts/v2/system/comprehensive_professional.system.md
  prompts/v2/user/comprehensive_mentor.user.md
  prompts/v2/user/comprehensive_peer.user.md
  prompts/v2/user/comprehensive_professional.user.md
  templates/onboarding/ai_analysis_comprehensive.html
  templates/onboarding/plan_preview_comprehensive.html
Owners: @alexbel, @infra-team, @ml-team, @frontend-team, @backend-team, @devops-team, @docs-team

fix(migration): handle existing VideoClip data when changing FK to CSVExercise
  apps/workouts/migrations/0023_alter_videoclip_exercise.py
Owners: @alexbel, @backend-team

fix(onboarding): generate signed URLs for motivational card images
  apps/onboarding/models.py
Owners: @alexbel, @backend-team

fix(r2): configure proper R2 client settings for Cloudflare compatibility
  apps/workouts/management/commands/extract_exercises_from_r2.py
  apps/workouts/management/commands/sync_r2_videos.py
  config/settings.py
Owners: @alexbel, @backend-team, @devops-team

SECURITY: Fix critical security vulnerabilities and AI integration
  CLAUDE.md
  apps/ai_integration/ai_client.py
  config/settings.py
  render.yaml
Owners: @alexbel, @docs-team, @ml-team, @devops-team

fix(ai): Replace max_tokens with max_completion_tokens for o1 model compatibility
  apps/ai_integration/ai_client.py
Owners: @alexbel, @ml-team

fix(ai): Remove temperature parameter for o1 model compatibility
  apps/ai_integration/ai_client.py
Owners: @alexbel, @ml-team

feat(ai): Add Structured Outputs support for reliable JSON generation
  apps/ai_integration/ai_client_structured.py
  apps/ai_integration/services.py
Owners: @alexbel, @ml-team

feat(ai): Upgrade from o1 to GPT-5 with Responses API and advanced features
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/services.py
  config/settings.py
Owners: @alexbel, @ml-team, @devops-team

fix(ai): resolve GPT-5 Responses API format requirements
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/fallback_service.py
  apps/ai_integration/services.py
  apps/workouts/emergency_service.py
Owners: @alexbel, @ml-team, @backend-team

fix(critical): use real exercise codes from CSV/Cloudflare in AI prompts
  apps/ai_integration/services.py
  prompts/v2/user/master_mentor.user.md
  prompts/v2/user/master_peer.user.md
  prompts/v2/user/master_professional.user.md
Owners: @alexbel, @ml-team, @docs-team

fix(critical): resolve exercise naming mismatch - use R2 technical names
  apps/ai_integration/services.py
  r2_exercise_whitelist.txt
  show_gpt5_api_call.py
  simulate_final_prompt_corrected.py
  simulate_user_onboarding.py
  simulated_prompt_output.txt
Owners: @alexbel, @ml-team

fix(models): resolve WorkoutExercise import error preventing deployment
  apps/ai_integration/fallback_service.py
  apps/workouts/emergency_service.py
Owners: @alexbel, @ml-team, @backend-team
