Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

fix: restore GPT-5 configuration and fix database schema
  ai_test_sample.json
  apps/onboarding/management/commands/complete_onboarding_auto.py
  apps/workouts/management/commands/fix_workout_plan_columns.py
  fix_production_db.sql
  test_generation.py
  материалы  для фитнес бота/~$еальный плейлист.docx
  материалы  для фитнес бота/идеальный плейлист.docx
Owners: @alexbel, @frontend-team, @backend-team

fix: Update migration dependencies to existing parent migrations
  apps/content/migrations/0006_cleanup_legacy_columns.py
  apps/onboarding/migrations/0006_cleanup_legacy_columns.py
Owners: @alexbel, @frontend-team

fix: Add missing CSVExercise model creation migration
  apps/workouts/migrations/0002_add_csvexercise_model.py
  apps/workouts/migrations/0002_update_csvexercise_r2_structure.py
  apps/workouts/migrations/0003_update_csvexercise_r2_structure.py
  mcp.json
  test_r2_import_production.py
Owners: @alexbel, @backend-team

fix: Handle existing csv_exercises table in production
  apps/workouts/migrations/0002_add_csvexercise_model.py
Owners: @alexbel, @backend-team

fix: Add missing columns to csv_exercises table in production
  apps/workouts/migrations/0004_add_missing_csvexercise_columns.py
  test_r2_import_production.py
Owners: @alexbel, @backend-team

refactor: Remove unnecessary category field from CSVExercise model
  apps/workouts/management/commands/import_r2_exercises.py
  apps/workouts/migrations/0005_remove_unnecessary_category_field.py
  apps/workouts/models.py
Owners: @alexbel, @backend-team

feat: Add migration safety guardrails and CI/CD improvements
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  MIGRATION_STATE.txt
  scripts/ci/block_migration_edits_ci.sh
  scripts/git-hooks/block_migration_edits.sh
Owners: @alexbel, @devops-team

fix: Resolve migration conflicts and improve CI reliability
  .github/workflows/tests.yml
  apps/workouts/migrations/0003_update_csvexercise_r2_structure.py
  apps/workouts/migrations/0006_merge_0002_branches.py
  scripts/ci/block_migration_edits_ci.sh
Owners: @alexbel, @devops-team, @backend-team

fix: Align catalog.py with actual CSVExercise model fields
  apps/workouts/catalog.py
Owners: @alexbel, @backend-team

feat: Complete catalog.py safety improvements and add testing infrastructure
  apps/workouts/catalog.py
  config/settings_sqlite.py
  tests/test_catalog_build.py
Owners: @alexbel, @backend-team, @devops-team, @qa-team

fix: Complete migration reconciliation and production readiness
  .github/workflows/migration-test.yml
  .github/workflows/tests.yml
  .gitignore
  PRODUCTION_MIGRATION_RUNBOOK.md
  apps/workouts/migrations/0002_squashed_compat.py
  apps/workouts/migrations/0003_update_csvexercise_r2_structure_squashed_0005_remove_unnecessary_category_field.py
  apps/workouts/migrations/0006_explainervideo_finalvideo_weeklylesson_and_more.py
  apps/workouts/models.py
  pytest.ini
Owners: @alexbel, @devops-team, @docs-team, @backend-team, @qa-team

feat: Implement preview → confirm flow for workout plan generation
  CLAUDE.md
  apps/ai_integration/schemas_json.py
  apps/ai_integration/services.py
  apps/core/management/commands/r2_smoke.py
  apps/onboarding/services.py
  apps/onboarding/views.py
  apps/workouts/migrations/0007_add_status_to_workout_plan.py
  apps/workouts/models.py
  apps/workouts/services/__init__.py
  apps/workouts/services/plan_materializer.py
  config/settings.py
  docs/diagnostics_v1.md
  docs/diagnostics_v1/audit_video_clips.txt
  docs/diagnostics_v1/check_counts.py
  docs/diagnostics_v1/compile_report.py
  docs/diagnostics_v1/csv_headers.json
  docs/diagnostics_v1/csvexercise_fields.txt
  docs/diagnostics_v1/duration_sanity.txt
  docs/diagnostics_v1/env_r2_settings.txt
  docs/diagnostics_v1/grep_ai_tags.txt
  docs/diagnostics_v1/grep_csvexercise.txt
  docs/diagnostics_v1/grep_extra_fields.txt
  docs/diagnostics_v1/grep_onboarding_processor.txt
  docs/diagnostics_v1/grep_plan_services.txt
  docs/diagnostics_v1/grep_prompt_manager.txt
  docs/diagnostics_v1/integrity.txt
  docs/diagnostics_v1/models_list.txt
  docs/diagnostics_v1/report_creation_smoketest.txt
  docs/diagnostics_v1/showmigrations.txt
  docs/diagnostics_v1/table_counts.txt
  docs/diagnostics_v1/templates_presence.txt
  docs/diagnostics_v1/urls_presence.txt
  docs/flow_v1.md
  docs/onboarding_diagnosis.md
  материалы  для фитнес бота/TZ_AI_Fitness_Coach.docx
Owners: @alexbel, @docs-team, @ml-team, @backend-team, @frontend-team, @devops-team

feat: Implement comprehensive workout UX improvements and R2 video integration
  apps/core/services/media.py
  apps/workouts/management/commands/sync_r2_videos.py
  apps/workouts/migrations/0008_add_r2_key_to_videoclip.py
  apps/workouts/models.py
  apps/workouts/video_services.py
  apps/workouts/views.py
  templates/workouts/components/completion_celebration.html
  templates/workouts/components/exercise_info_panel.html
  templates/workouts/components/progress_tracker.html
  templates/workouts/daily_workout.html
Owners: @alexbel, @backend-team

fix: Implement comprehensive migration integrity solution
  PRODUCTION_FIX_MIGRATIONS.md
  apps/core/management/commands/check_migration_integrity.py
  apps/workouts/management/commands/drop_workouts_tables.py
  render.yaml
Owners: @alexbel, @docs-team, @backend-team

refactor: Complete workouts migration reset with clean snapshot
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_add_csvexercise_model.py
  apps/workouts/migrations/0002_squashed_compat.py
  apps/workouts/migrations/0003_update_csvexercise_r2_structure.py
  apps/workouts/migrations/0003_update_csvexercise_r2_structure_squashed_0005_remove_unnecessary_category_field.py
  apps/workouts/migrations/0004_add_missing_csvexercise_columns.py
  apps/workouts/migrations/0005_remove_unnecessary_category_field.py
  apps/workouts/migrations/0006_explainervideo_finalvideo_weeklylesson_and_more.py
  apps/workouts/migrations/0006_merge_0002_branches.py
  apps/workouts/migrations/0007_add_status_to_workout_plan.py
  apps/workouts/migrations/0008_add_r2_key_to_videoclip.py
  render.yaml
Owners: @alexbel, @backend-team

fix: Remove fake migration rollbacks from middleware
  apps/core/middleware.py
  video_audit_report.csv
Owners: @alexbel, @backend-team

fix: Remove unused Story models and clean content migrations
  apps/content/migrations/0001_initial.py
  apps/content/migrations/0002_landingcontent_trainerpersona.py
  apps/content/migrations/0006_cleanup_legacy_columns.py
  apps/content/models.py
Owners: @alexbel, @backend-team

fix: Remove story categories from MediaAsset choices
  apps/content/models.py
Owners: @alexbel, @backend-team

fix(admin): remove Story imports and admins after story feature removal
  apps/content/admin.py
Owners: @alexbel

chore(content): permanently remove Story* and leave a stable content module
  apps/achievements/migrations/0001_initial.py
  apps/achievements/migrations/0002_initial.py
  apps/achievements/models.py
  apps/achievements/services.py
  apps/analytics/migrations/0001_initial.py
  apps/analytics/models.py
  apps/analytics/serializers.py
  apps/content/urls.py
  apps/content/views.py
  apps/workouts/management/commands/bootstrap_from_videos.py
Owners: @alexbel, @backend-team

fix: Add --fake-initial to migrations to handle existing tables
  render.yaml
Owners: @alexbel

feat: Add basic data seeding for UI activation
  apps/core/management/commands/seed_basic_data.py
  render.yaml
Owners: @alexbel, @backend-team

feat: Add media assets seeding for UI Phase 2
  apps/content/management/commands/seed_media_assets.py
  apps/core/management/commands/check_r2_media.py
  render.yaml
Owners: @alexbel, @backend-team

feat: MVP R2 playlist architecture without AI dependency
  apps/achievements/migrations/0002_add_slug_state_only.py
  apps/content/management/commands/import_r2_manifest.py
  apps/content/management/commands/seed_media_assets.py
  apps/content/migrations/0002_auto_20250828_1416.py
  apps/content/models.py
  apps/content/urls.py
  apps/content/views.py
  apps/onboarding/views.py
  apps/workouts/admin.py
  apps/workouts/management/commands/build_demo_playlists.py
  apps/workouts/management/commands/create_demo_plan.py
  apps/workouts/migrations/0002_add_poster_image_column.py
  apps/workouts/migrations/0003_auto_20250828_1416.py
  apps/workouts/migrations/0004_clean_exercise_model.py
  apps/workouts/migrations/0090_add_ai_analysis_jsonb.py
  apps/workouts/models.py
  apps/workouts/services/playlist_builder.py
  apps/workouts/urls.py
  apps/workouts/views.py
  media_manifest.json
  templates/workouts/my_plan.html
  templates/workouts/no_plan.html
  templates/workouts/workout_day.html
  test_media_proxy.py
  test_r2_files.py
Owners: @alexbel, @backend-team, @frontend-team

fix: Add missing status field to WorkoutPlan model for production
  apps/workouts/migrations/0091_add_status_field.py
Owners: @alexbel, @backend-team

fix: Remove muscle_groups field from Exercise creation in demo plan
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Remove all muscle_groups and equipment_needed fields from Exercise model usage
  apps/workouts/management/commands/bootstrap_from_videos.py
  apps/workouts/management/commands/create_basic_exercises.py
  tests/test_e2e.py
  tests/test_models.py
  tests/test_services.py
Owners: @alexbel, @backend-team, @qa-team

fix: Complete cleanup of all Exercise model legacy fields
  apps/workouts/management/commands/create_basic_exercises.py
  apps/workouts/video_services.py
  apps/workouts/views.py
  create_exercises.py
Owners: @alexbel, @backend-team

fix: Complete removal of legacy Exercise model field references
  apps/ai_integration/fallback_service.py
  apps/core/middleware.py
  apps/core/services/exercise_validation.py
  apps/workouts/management/commands/extract_exercises_from_r2.py
  create_exercises.py
Owners: @alexbel, @ml-team, @backend-team

fix: ULTRA DEEP AUDIT - Complete Exercise model removal and fix all conflicts
  apps/ai_integration/services.py
  apps/workouts/admin.py
  apps/workouts/catalog.py
  apps/workouts/management/commands/extract_exercises_from_r2.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/models.py
  tests/test_exercise_validation.py
  tests/test_models.py
  tests/test_unit_catalog_whitelist.py
Owners: @alexbel, @ml-team, @backend-team, @qa-team

fix: MEGA AUDIT 3rd PASS - Fix remaining Exercise model references in debug/test files
  debug_video_system.py
  tests/test_playlist_v2.py
  tests/test_video_playlist_builder.py
Owners: @alexbel, @qa-team

fix: Fix critical Django Exercise string reference in content/models.py
  apps/content/models.py
  django_comprehensive_validator.py
  django_fix_script.py
Owners: @alexbel, @backend-team

fix: Correct CSVExercise field names in create_demo_plan_for_user
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Resolve 4 critical issues with demo plan and playlist functionality
  apps/onboarding/views.py
  apps/workouts/templatetags/__init__.py
  apps/workouts/templatetags/workout_tags.py
  apps/workouts/views.py
  templates/workouts/workout_day.html
Owners: @alexbel, @frontend-team, @backend-team

fix: Resolve ALL 5 critical errors found by system validator
  apps/content/views.py
  apps/onboarding/views.py
  apps/workouts/management/commands/create_demo_plan.py
  apps/workouts/models.py
  comprehensive_system_validator.py
  static_system_validator.py
  static_validation_report.json
Owners: @alexbel, @frontend-team, @backend-team

fix: Resolve IndentationError in create_demo_plan_for_user function
  apps/onboarding/views.py
  improved_validator.py
  static_validation_report.json
Owners: @alexbel, @frontend-team

Production deployment ready - comprehensive validation passed
  VALIDATOR_GUIDE.md
  apps/onboarding/urls.py
  comprehensive_deployment_validator.py
  enhanced_deployment_validator.py
  production_readiness_checker.py
Owners: @alexbel, @docs-team, @frontend-team

Add create_csv_exercises_table management command
  apps/workouts/management/commands/create_csv_exercises_table.py
Owners: @alexbel, @backend-team

Fix preDeployCommand order: create csv_exercises table before migrations
  render.yaml
Owners: @alexbel

URGENT: Fix null value error in goal field
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team
