Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

fix: make ai_analysis field migration idempotent
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
Owners: @alexbel, @backend-team

fix: robust table name handling in ai_analysis migration
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
Owners: @alexbel, @backend-team

fix: make is_confirmed field migration idempotent
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
Owners: @alexbel, @backend-team

fix: make ALL DailyWorkout fields idempotent in migration
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
Owners: @alexbel, @backend-team

fix: make exercises and started_at fields idempotent in migration 0003
  apps/workouts/migrations/0003_dailyworkout_exercises_dailyworkout_started_at_and_more.py
Owners: @alexbel, @backend-team

feat: add squashed migration baseline for permanent schema sync fix
  MIGRATION_POLICY.md
  apps/workouts/migrations/0001_initial_squashed_0003_dailyworkout_exercises_dailyworkout_started_at_and_more.py
Owners: @alexbel, @docs-team, @backend-team

chore(workouts): prune legacy migrations; lock squashed baseline
  apps/achievements/migrations/0003_initial.py
  apps/content/migrations/0002_initial.py
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0001_initial_squashed_0003_dailyworkout_exercises_dailyworkout_started_at_and_more.py
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
  apps/workouts/migrations/0003_dailyworkout_exercises_dailyworkout_started_at_and_more.py
Owners: @alexbel, @backend-team

chore: remove DB setup middleware & all references to equipment_needed
  CREATE_SAMPLE_DATA.py
  apps/core/middleware.py
  apps/workouts/management/commands/bootstrap_from_videos.py
  apps/workouts/migrations/0002_drop_equipment_needed_if_exists.py
  config/settings.py
  fixtures/exercises_old.json
  tests/test_e2e.py
  tests/test_models.py
Owners: @alexbel, @backend-team, @devops-team, @qa-team

feat: implement comprehensive Redis integration with graceful fallback
  MIGRATION_POLICY.md
  README.md
  apps/core/cache_utils.py
  apps/core/management/commands/redis_check.py
  config/settings.py
Owners: @alexbel, @docs-team, @backend-team, @devops-team

feat(validation): implement comprehensive strict mode validation system
  CLAUDE.md
  apps/core/middleware.py
  apps/workouts/management/commands/audit_video_clips.py
  apps/workouts/management/commands/sync_exercise_slugs.py
  apps/workouts/services/playlist_v2.py
  config/settings.py
Owners: @alexbel, @docs-team, @backend-team, @devops-team

deploy: force production redeploy with correct codebase
  DEPLOY_TRIGGER.md
  data/.DS_Store
  📊 Структура хранилища Cloudflare R2.docx
Owners: @alexbel, @docs-team

fix: add migration rollback script to resolve database conflicts
  fix_migrations.sh
Owners: @alexbel

fix: replace problematic migration with safe column-checking version
  apps/onboarding/migrations/0002_onboardingquestion_block_name_and_more.py
  apps/onboarding/migrations/0002_safe_migration_with_checks.py
Owners: @alexbel, @frontend-team

fix: implement data migration approach to resolve schema conflicts
  apps/onboarding/migrations/0002_conditional_schema_migration.py
  apps/onboarding/migrations/0002_safe_migration_with_checks.py
  apps/onboarding/migrations/0003_motivationalcard_answer_option_and_more.py
Owners: @alexbel, @frontend-team

fix(migrations): use model._meta.db_table and add columns conditionally
  apps/onboarding/migrations/0002_conditional_schema_migration.py
Owners: @alexbel, @frontend-team

fix: resolve NameError in RunPython migration
  apps/onboarding/migrations/0002_conditional_schema_migration.py
Owners: @alexbel, @frontend-team

feat(migrations): implement comprehensive migration hardening and safety improvements
  apps/onboarding/migrations/0002_conditional_schema_migration.py
  apps/onboarding/migrations/0007_backfill_and_defaults.py
  apps/onboarding/migrations/0008_enforce_unique_pair_when_set.py
Owners: @alexbel, @frontend-team

fix(migrations): resolve cross-database compatibility and SQLite syntax errors
  apps/onboarding/migrations/0002_conditional_schema_migration.py
  apps/onboarding/migrations/0007_backfill_and_defaults.py
  apps/onboarding/migrations/0008_enforce_unique_pair_when_set.py
Owners: @alexbel, @frontend-team

fix(deploy): remove invalid --safe flag and preserve migration integrity
  apps/onboarding/migrations/0002_conditional_schema_migration.py
  render.yaml
Owners: @alexbel, @frontend-team

refactor(migrations): squash onboarding migrations 0002-0008 into no-op compat layer
  apps/onboarding/migrations/0001_initial.py
  apps/onboarding/migrations/0002_conditional_schema_migration.py
  apps/onboarding/migrations/0002_squashed_compat.py
  apps/onboarding/migrations/0003_motivationalcard_answer_option_and_more.py
  apps/onboarding/migrations/0004_motivationalcard_image.py
  apps/onboarding/migrations/0005_motivationalcard_path_alter_motivationalcard_image_and_more.py
  apps/onboarding/migrations/0006_populate_path_from_image_url.py
  apps/onboarding/migrations/0007_backfill_and_defaults.py
  apps/onboarding/migrations/0008_enforce_unique_pair_when_set.py
Owners: @alexbel, @frontend-team

chore(workouts): squash to no-op + remove equipment support
  apps/workouts/admin.py
  apps/workouts/migrations/0002_alter_videoclip_type.py
  apps/workouts/migrations/0002_squashed_compat.py
  apps/workouts/migrations/0008_csvexercise_explainervideo.py
  apps/workouts/migrations/0010_weeklynotification.py
  apps/workouts/migrations/0011_safe_equipment_field_and_models.py
  apps/workouts/migrations/0012_add_duration_sec_field.py
  apps/workouts/migrations/0013_v2_schema.py
  apps/workouts/migrations/0014_state_only.py
  apps/workouts/migrations/0015_merge_state_only_and_0012.py
  apps/workouts/migrations/0016_add_video_provider_fields.py
  apps/workouts/migrations/0017_add_provider_constraints.py
  apps/workouts/migrations/0018_fix_unique_constraint_archetype_field.py
  apps/workouts/migrations/0019_remove_videoclip_provider_storage_consistency_and_more.py
  apps/workouts/migrations/0020_add_is_active_to_csvexercise.py
  apps/workouts/migrations/0021_sync_model_state.py
  apps/workouts/migrations/0022_add_contextual_video_fields.py
  apps/workouts/migrations/0023_alter_videoclip_exercise.py
  apps/workouts/migrations/0024_expand_exercise_name_lengths.py
  apps/workouts/migrations/0025_widen_charfields.py
  apps/workouts/models.py
  apps/workouts/video_services.py
  apps/workouts/views.py
  database_schema_analysis.json
Owners: @alexbel, @backend-team

chore(workouts): align 0001_initial to current models; extend 0002 squashed replaces
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_squashed_compat.py
Owners: @alexbel, @backend-team

Revert "chore(workouts): align 0001_initial to current models; extend 0002 squashed replaces"
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_squashed_compat.py
Owners: @alexbel, @backend-team

hotfix/equipment-probe: disable SQL checks with feature flag
  apps/core/middleware.py
  config/settings.py
Owners: @alexbel, @backend-team, @devops-team

hotfix/media-normalization: implement path normalization service
  apps/content/path_normalizer.py
  apps/core/services/media.py
Owners: @alexbel, @backend-team

hotfix/dashboard-500: implement safe guards for profile access
  apps/users/views.py
  templates/users/dashboard.html
  tests/test_dashboard_fix.py
Owners: @alexbel, @backend-team, @qa-team

hotfix/api-auth-docs: expand API authentication documentation
  README.md
Owners: @alexbel, @docs-team

hotfix/health-git-sha: add GIT_SHA to health endpoints
  apps/core/monitoring.py
  apps/core/views.py
Owners: @alexbel, @backend-team

hotfix: fix two critical production bugs
  apps/onboarding/migrations/0003_fix_question_5_block_separator.py
  apps/workouts/migrations/0003_add_workoutplan_name_field.py
Owners: @alexbel, @frontend-team, @backend-team

hotfix/migrations: drop stray 0003 leaf migrations
  apps/onboarding/migrations/0003_fix_question_5_block_separator.py
  apps/workouts/migrations/0003_add_workoutplan_name_field.py
Owners: @alexbel, @frontend-team, @backend-team

hotfix(step1): add WorkoutPlan.name column fix to squashed migration
  apps/workouts/migrations/0002_squashed_compat.py
Owners: @alexbel, @backend-team

hotfix(step2): fix question 5 block separator in squashed migration
  apps/onboarding/migrations/0002_squashed_compat.py
Owners: @alexbel, @frontend-team

EMERGENCY: add runtime fix for question 5 block separator issue
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: simplify question 5 - make it a normal question with two options
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

feat: restore all onboarding questions with complete answer options
  apps/onboarding/management/commands/restore_questions.py
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix(critical): resolve archetype inconsistency and optimize GPT-5 integration
  apps/ai_integration/ai_client.py
  apps/onboarding/views.py
  config/settings.py
  templates/onboarding/select_archetype.html
Owners: @alexbel, @ml-team, @frontend-team, @devops-team

fix(onboarding): resolve missing static files error for trainer avatars
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix(templates): correct fallback avatar path in trainer selection template
  templates/onboarding/select_archetype.html
Owners: @alexbel

fix(onboarding): resolve trainer selection loop with proper archetype mapping
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix(onboarding): correct trainer archetypes to match AI prompts and system
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team
