Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team

fix(models): use CSVExercise.id instead of slug in fallback services
  apps/ai_integration/fallback_service.py
  apps/workouts/emergency_service.py
Owners: @alexbel, @ml-team, @backend-team

fix(gpt5): исправлены критические проблемы GPT-5 Responses API
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/fallback_service.py
  apps/core/management/commands/test_ai_generation.py
Owners: @alexbel, @ml-team, @backend-team

fix(fallback): использование реальных R2 упражнений вместо выдуманных
  apps/ai_integration/fallback_service.py
Owners: @alexbel, @ml-team

fix(deps): добавлен pandas и исправлен bootstrap_v2_min
  apps/workouts/management/commands/bootstrap_v2_min.py
  requirements.txt
Owners: @alexbel, @backend-team

feat: добавлена команда quick_data_check для проверки данных
  apps/core/management/commands/quick_data_check.py
Owners: @alexbel, @backend-team

fix(import): Map Excel columns correctly for V2 exercise import
  apps/workouts/management/commands/import_exercises_v2.py
Owners: @alexbel, @backend-team

CRITICAL: Fix Excel->R2 exercise mapping and video import
  apps/workouts/management/commands/import_exercises_v2.py
  excel_r2_mapping.json
  excel_to_r2_mapping.py
Owners: @alexbel, @backend-team

fix(motivational-cards): Fix white screen issue with proper R2 backgrounds
  apps/onboarding/views.py
  templates/onboarding/question.html
Owners: @alexbel, @frontend-team

fix(motivational-cards): Correct fullscreen background implementation
  templates/onboarding/question.html
Owners: @alexbel

feat(motivational-cards): Complete fullscreen image implementation
  templates/onboarding/question.html
Owners: @alexbel

fix(onboarding): use MediaService for motivational card background images
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

debug(onboarding): fix motivational card background image display
  templates/onboarding/question.html
Owners: @alexbel

fix(models): fix critical Django model errors preventing deployment
  apps/onboarding/models.py
  apps/users/admin.py
  apps/workouts/models.py
Owners: @alexbel, @backend-team

fix(migration): fix is_staf typo in User model migration
  apps/users/migrations/0001_initial.py
Owners: @alexbel, @backend-team

fix(onboarding): resolve motivational card image display issues
  apps/onboarding/models.py
  apps/onboarding/views.py
  templates/onboarding/motivation_card.html
Owners: @alexbel, @backend-team, @frontend-team

fix(onboarding): add fallback for motivational card images and debug tools
  apps/onboarding/management/commands/debug_storage_config.py
  templates/base/base.html
  templates/onboarding/motivation_card.html
Owners: @alexbel, @frontend-team

fix(onboarding): use public CDN URLs for motivational card images
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

feat: migrate MotivationalCard to path-based R2 URLs
  CLAUDE.md
  apps/onboarding/management/commands/fix_r2_urls_final.py
  apps/onboarding/management/commands/migrate_to_path_based_urls.py
  apps/onboarding/migrations/0005_motivationalcard_path_alter_motivationalcard_image_and_more.py
  apps/onboarding/migrations/0006_populate_path_from_image_url.py
  apps/onboarding/models.py
  apps/onboarding/utils.py
  apps/onboarding/views.py
  backup_motivational_cards_2025-08-13.json
Owners: @alexbel, @docs-team, @frontend-team, @backend-team

fix: comprehensive production issues resolution
  AI_Fitness_Coach_Architecture_and_User_Flow.pdf
  CODE_REVIEW_README.md
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/fallback_service.py
  apps/core/services/exercise_validation.py
  apps/onboarding/views.py
  apps/users/models.py
  apps/workouts/management/commands/debug_workout_video.py
  apps/workouts/services/__init__.py
  apps/workouts/video_services.py
  apps/workouts/views.py
  debug_video_system.py
  templates/onboarding/ai_analysis.html
  templates/onboarding/plan_confirmation.html
Owners: @alexbel, @docs-team, @ml-team, @backend-team, @frontend-team

fix(ai): add missing 'name' field to GPT-5 API format parameters
  apps/ai_integration/ai_client_gpt5.py
Owners: @alexbel, @ml-team

debug(exercise): add detailed logging to exercise validation service
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix(exercise): resolve '0 exercises with complete video coverage' issue
  apps/core/services/exercise_validation.py
  apps/workouts/constants.py
Owners: @alexbel, @backend-team

fix(core): resolve all remaining production issues
  apps/core/services/exercise_validation.py
  apps/onboarding/views.py
  apps/workouts/services/playlist_v2.py
  apps/workouts/video_services.py
Owners: @alexbel, @backend-team, @frontend-team

fix(video): resolve video URL generation using structured R2 paths
  apps/core/services/media.py
  apps/workouts/services/playlist_v2.py
  apps/workouts/video_storage.py
Owners: @alexbel, @backend-team, @infra-team

fix(archetype): implement archetype fallback for exercise validation and playlist generation
  apps/core/services/exercise_validation.py
  apps/workouts/models.py
Owners: @alexbel, @backend-team

fix(prompts): ensure video playlist compatibility and complete AI prompt system
  prompts/v2/schemas/comprehensive_ai_report.json
  prompts/v2/user/comprehensive_mentor.user.md
  prompts/v2/user/comprehensive_peer.user.md
  prompts/v2/user/comprehensive_professional.user.md
Owners: @alexbel, @ml-team, @docs-team

fix(ai): resolve critical AI generation failures and improve reliability
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/fallback_service.py
  apps/ai_integration/schemas_json.py
  apps/onboarding/management/commands/import_motivational_cards.py
Owners: @alexbel, @ml-team, @frontend-team

fix: implement bulletproof production fixes for AI Fitness Coach
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/fallback_service.py
  apps/core/services/exercise_validation.py
  apps/workouts/management/commands/import_exercises_v2.py
Owners: @alexbel, @ml-team, @backend-team

chore: update OpenAI SDK to v1.50.0+ for GPT-5 Responses API support
  requirements.txt
Owners: @alexbel, @backend-team

fix: remove non-existent duration field from CSVExercise import
  apps/workouts/management/commands/import_exercises_v2.py
Owners: @alexbel, @backend-team

fix: expand CSVExercise name fields; unify exercise_slug; remove duration_sec; use duration_seconds
  apps/ai_integration/fallback_service.py
  apps/ai_integration/schemas_json.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/migrations/0024_expand_exercise_name_lengths.py
Owners: @alexbel, @ml-team, @backend-team

fix: implement GPT-5 Responses API and resolve critical production errors
  CLAUDE.md
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/builder.py
  apps/ai_integration/fallback_service.py
  apps/workouts/services/playlist_v2.py
Owners: @alexbel, @docs-team, @ml-team, @backend-team

fix: complete ChatGPT bulletproof plan implementation
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/builder.py
  apps/ai_integration/fallback_service.py
  apps/workouts/migrations/0025_widen_charfields.py
  apps/workouts/models.py
  data/raw/explainer_videos_111_nastavnik.xlsx
  data/raw/explainer_videos_222_professional.xlsx
  data/raw/explainer_videos_333_rovesnik.xlsx
Owners: @alexbel, @ml-team, @backend-team

fix: flatten GPT-5 Responses API payload format
  apps/ai_integration/builder.py
Owners: @alexbel, @ml-team

fix(ai): complete GPT-5 API and video coverage validation fixes
  apps/core/services/exercise_validation.py
  apps/workouts/constants.py
Owners: @alexbel, @backend-team

fix(video): require INSTRUCTION + TECHNIQUE videos for safer coverage
  apps/workouts/constants.py
Owners: @alexbel, @backend-team

feat(validation): enhance coverage report with archetype breakdown
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

fix(validation): add archetype code to name mapping
  apps/core/services/exercise_validation.py
Owners: @alexbel, @backend-team

feat(archetypes): implement centralized archetype normalization system
  apps/core/services/exercise_validation.py
  apps/core/utils/__init__.py
  apps/core/utils/archetypes.py
  apps/onboarding/views.py
  apps/workouts/management/commands/generate_test_plan_v2.py
  apps/workouts/management/commands/load_test_weekly_current.py
Owners: @alexbel, @backend-team, @frontend-team

fix(frontend): resolve 90% progress freeze in plan generation
  apps/onboarding/views.py
  templates/onboarding/analysis_loading.html
Owners: @alexbel, @frontend-team
