Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team

fix(ai): исправить валидацию JSON схем для GPT-5
  apps/ai_integration/schemas.py
  apps/ai_integration/schemas_json.py
Owners: @alexbel, @ml-team

debug(ajax): добавить подробное логирование AJAX endpoint
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix(ai): add comprehensive timeout and error handling to prevent 90% hang
  apps/ai_integration/ai_client_gpt5.py
  apps/onboarding/views.py
Owners: @alexbel, @ml-team, @frontend-team

fix(timeout): resolve Gunicorn worker timeout killing AI generation
  apps/ai_integration/ai_client_gpt5.py
  apps/onboarding/views.py
  start.sh
Owners: @alexbel, @ml-team, @frontend-team

feat(production): add production-ready stability improvements
  apps/ai_integration/ai_client_gpt5.py
  apps/onboarding/urls.py
  apps/onboarding/views.py
  start.sh
Owners: @alexbel, @ml-team, @frontend-team

fix(critical): resolve 90% progress hang and improve telemetry
  apps/onboarding/services.py
  apps/onboarding/views.py
  templates/onboarding/analysis_loading.html
Owners: @alexbel, @frontend-team

feat(ai): complete GPT-5 Responses API integration with comprehensive telemetry
  .env.example
  apps/ai_integration/ai_client.py
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/ai_client_structured.py
  apps/ai_integration/builder.py
  apps/ai_integration/management/commands/ai_gpt5_smoke.py
  apps/ai_integration/management/commands/test_gpt5_integration.py
  config/settings.py
Owners: @alexbel, @infra-team, @ml-team, @devops-team

fix(critical): resolve empty workouts and GPT-5 API compatibility issues
  CLAUDE.md
  apps/ai_integration/ai_client.py
  apps/ai_integration/builder.py
  apps/ai_integration/schemas_json.py
  apps/ai_integration/services.py
Owners: @alexbel, @docs-team, @ml-team

feat(catalog): implement exercise slug normalization and integrity checks
  apps/ai_integration/utils/exercise_whitelist.py
  apps/core/utils/slug.py
  apps/workouts/management/commands/check_catalog_integrity.py
  tests/conftest.py
Owners: @alexbel, @ml-team, @backend-team, @qa-team

fix(ai): resolve duration_weeks type validation errors in comprehensive report
  apps/ai_integration/comprehensive_validator.py
  apps/ai_integration/validators.py
Owners: @alexbel, @ml-team

feat(core): implement comprehensive slug normalization and validation system
  ai_test_sample.json
  apps/ai_integration/schemas_json.py
  apps/ai_integration/utils/exercise_whitelist.py
  apps/ai_integration/validators.py
  apps/core/utils/slug.py
  apps/core/utils/storage_audit.py
  apps/workouts/management/commands/check_catalog_integrity.py
Owners: @alexbel, @ml-team, @backend-team

FIX: Add required fixtures for deployment
  fixtures/achievements.json
  fixtures/exercises.json
  fixtures/motivational_cards.json
  fixtures/onboarding_questions.json
  fixtures/stories.json
  fixtures/video_clips.json
Owners: @alexbel

Complete fixtures implementation for AI Fitness Coach deployment
  fixtures/achievements.json
  fixtures/motivational_cards.json
  fixtures/onboarding_questions.json
  fixtures/stories.json
  fixtures/video_clips.json
Owners: @alexbel

Fix exercises.json: remove non-existent fields for production DB
  fixtures/exercises.json
Owners: @alexbel

Create complete exercises.json with all 271 exercises
  fixtures/exercises.json
Owners: @alexbel

Temporarily remove exercises and video_clips fixtures from build
  build.sh
Owners: @alexbel

Fix migrations and restore exercises.json
  build.sh
Owners: @alexbel

Fix database schema mismatch by removing unused video URL fields
  apps/workouts/migrations/0003_remove_exercise_mistake_video_url_and_more.py
  apps/workouts/models.py
  build.sh
  временная/диалог с claude code.docx
  шаблон отчета ИИ с планом тренировок.docx
Owners: @alexbel, @backend-team

Fix migration issue - mark removal migration as fake since fields already absent in production
  build.sh
Owners: @alexbel

Reset database completely to match new video structure and prompts
  build.sh
Owners: @alexbel

Use flush to clear database data while keeping Cloudflare videos intact
  build.sh
Owners: @alexbel

Drop all database tables and recreate from scratch for clean deployment
  build.sh
Owners: @alexbel

COMPLETE RESTRUCTURE: Align with 616 videos and playlist system
  apps/achievements/migrations/0001_initial.py
  apps/achievements/migrations/0002_initial.py
  apps/achievements/migrations/0003_initial.py
  apps/achievements/models.py
  apps/content/migrations/0001_initial.py
  apps/content/migrations/0002_add_motivation_categories.py
  apps/content/migrations/0002_initial.py
  apps/onboarding/migrations/0001_initial.py
  apps/onboarding/migrations/0002_initial.py
  apps/users/migrations/0001_initial.py
  apps/workouts/admin.py
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_add_new_video_types.py
  apps/workouts/migrations/0003_remove_exercise_mistake_video_url_and_more.py
  apps/workouts/models.py
  apps/workouts/services.py
  build.sh
  fixtures/exercises.json
  fixtures/exercises_old.json
Owners: @alexbel, @backend-team, @frontend-team

Fix database reset to drop all tables before migrations
  build.sh
Owners: @alexbel

Restore 55 onboarding questions with proper timestamp fields
  fixtures/onboarding_questions.json
Owners: @alexbel

fix(core): restore complete onboarding and weekly feedback system
  apps/onboarding/models.py
  apps/workouts/models.py
  apps/workouts/urls.py
  apps/workouts/views.py
  fixtures/onboarding_questions_full.json
Owners: @alexbel, @backend-team

Add Django migrations for missing model fields
  apps/onboarding/migrations/0003_add_missing_question_fields.py
  apps/workouts/migrations/0002_add_missing_daily_workout_fields.py
Owners: @alexbel, @frontend-team, @backend-team

Implement unified media layer with Cloudflare R2 and URL normalization
  .env.example
  apps/content/management/commands/import_media.py
  apps/content/media_service.py
  apps/content/models.py
  apps/onboarding/models.py
  apps/onboarding/views.py
  apps/workouts/services.py
  config/settings.py
  templates/content/read_chapter.html
  templates/content/stories_list.html
  templates/content/story_detail.html
  templates/onboarding/motivation_card.html
Owners: @alexbel, @infra-team, @backend-team, @frontend-team, @devops-team

Fix Block 1 technical issues for R2 storage
  apps/content/management/commands/import_media.py
  apps/workouts/services.py
  config/settings.py
Owners: @alexbel, @backend-team, @devops-team

Final Block 1 fixes: remove double media prefix and fix timestamps
  apps/content/management/commands/import_media.py
  apps/onboarding/migrations/0004_add_updated_at.py
  apps/onboarding/models.py
  config/settings.py
Owners: @alexbel, @frontend-team, @backend-team, @devops-team

Fix fixtures timezone-aware timestamps for deployment
  fixtures/motivational_cards.json
  fixtures/onboarding_questions.json
  fixtures/onboarding_questions_full.json
Owners: @alexbel

fixtures: auto-patch tz-aware created_at/updated_at for models that require them (generic script); unblock loaddata on Render
  fixtures/achievements.json
  fixtures/stories.json
  tools/patch_fixtures_timestamps.py
Owners: @alexbel

migrations(onboarding,workouts): sync model state; no data changes
  apps/onboarding/migrations/0005_alter_onboardingquestion_block_name_and_more.py
  apps/workouts/migrations/0003_dailyworkout_exercises_dailyworkout_started_at_and_more.py
  apps/workouts/models.py
Owners: @alexbel, @frontend-team, @backend-team

ops: add seed_safe idempotent fixtures loader, /healthz endpoint
  apps/content/management/commands/seed_safe.py
  config/urls.py
Owners: @alexbel, @devops-team

stage2: bootstrap_demo command + e2e tests + 404/500 templates + sentry integration
  apps/core/management/__init__.py
  apps/core/management/commands/__init__.py
  apps/core/management/commands/bootstrap_demo.py
  config/settings.py
  pytest.ini
  templates/404.html
  templates/500.html
  tests/conftest.py
  tests/e2e/test_happy_path.py
Owners: @alexbel, @backend-team, @devops-team, @qa-team

stage3: content admin + plan generator + redis cache + performance headers + readyz endpoint
  apps/achievements/urls.py
  apps/achievements/views.py
  apps/content/admin.py
  apps/content/migrations/0003_alter_storychapter_options_and_more.py
  apps/content/models.py
  apps/content/urls.py
  apps/content/views.py
  apps/workouts/management/__init__.py
  apps/workouts/management/commands/__init__.py
  apps/workouts/management/commands/generate_daily_plan.py
  apps/workouts/services/__init__.py
  apps/workouts/services/plan_generator.py
  apps/workouts/services/video_playlist.py
  apps/workouts/urls.py
  config/settings.py
  config/urls.py
Owners: @alexbel, @backend-team, @devops-team

CRITICAL FIX: Remove dangerous DB drop from build.sh - production safety
  build.sh
Owners: @alexbel

deps: add django-redis for Redis cache on Render
  requirements.txt
Owners: @alexbel, @backend-team

hotfix: temporarily disable fixtures loading in build.sh
  build.sh
Owners: @alexbel

fix: resolve stories.json field mismatch + robust fixture loading
  apps/content/management/commands/seed_safe.py
  build.sh
  fixtures/stories.json
Owners: @alexbel
