Repository runowata/ai-fitness-coach, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alexbel, @ml-team, @backend-team, @infra-team, @frontend-team, @devops-team, @qa-team, @dba-team, @docs-team

Remove gamification features and simplify models
  apps/achievements/__init__.py
  apps/achievements/apps.py
  apps/achievements/migrations/0001_initial.py
  apps/achievements/migrations/0002_add_slug_state_only.py
  apps/achievements/migrations/__init__.py
  apps/achievements/models.py
  apps/achievements/services.py
  apps/achievements/urls.py
  apps/users/tasks.py
  apps/users/views.py
  apps/workouts/management/commands/sync_simple_videos.py
  apps/workouts/models_simple.py
  apps/workouts/views.py
  config/settings.py
  config/urls.py
  tests/test_models.py
Owners: @alexbel, @backend-team, @devops-team, @qa-team

Fix CSV table creation and deployment script
  apps/workouts/management/commands/create_csv_exercises_table.py
  render.yaml
Owners: @alexbel, @backend-team

Fix root cause of CSV table creation issue
  apps/workouts/management/commands/fix_csv_table.py
  render.yaml
Owners: @alexbel, @backend-team

Simplify models and fix exercise loading
  apps/workouts/admin.py
  apps/workouts/management/commands/create_csv_exercises_table.py
  apps/workouts/management/commands/import_exercises_v2.py
  apps/workouts/management/commands/load_r2_exercises.py
  apps/workouts/management/commands/verify_r2_sync.py
  apps/workouts/models.py
Owners: @alexbel, @backend-team

fix: Update video_storage.py and playlist_v2.py to use R2Video consistently
  apps/workouts/services/playlist_v2.py
  apps/workouts/video_storage.py
Owners: @alexbel, @backend-team, @infra-team

fix: Update render.yaml preDeployCommand to use new R2-driven sync_from_r2 command
  render.yaml
Owners: @alexbel

feat: Recreate all migrations from scratch for clean deployment
  apps/analytics/migrations/0001_initial.py
  apps/analytics/migrations/0002_initial.py
  apps/content/migrations/0001_initial.py
  apps/notifications/migrations/0001_initial.py
  apps/notifications/migrations/0002_initial.py
  apps/onboarding/migrations/0001_initial.py
  apps/onboarding/migrations/0002_initial.py
  apps/users/migrations/0001_initial.py
  apps/workouts/migrations/0001_initial.py
Owners: @alexbel, @frontend-team, @backend-team

fix: Add --fake-initial to migration command for production
  render.yaml
Owners: @alexbel

fix: Split CSVExercise creation into separate migration
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_create_csv_exercises.py
Owners: @alexbel, @backend-team

fix: Update load_onboarding_data to use path field instead of image_url
  apps/onboarding/management/commands/load_onboarding_data.py
  apps/workouts/migrations/0001_initial.py
  apps/workouts/migrations/0002_create_csv_exercises.py
Owners: @alexbel, @frontend-team, @backend-team

fix: Remove is_active filter from R2Image in load_onboarding_data
  apps/onboarding/management/commands/load_onboarding_data.py
Owners: @alexbel, @frontend-team

fix: Remove is_active field usage from create_demo_plan_for_user
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

feat: Add video playlist creation to demo plan
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Fix motivational cards and R2 image sync
  apps/workouts/management/commands/sync_from_r2.py
  check_r2_storage.py
  templates/onboarding/motivation_card.html
Owners: @alexbel, @backend-team

feat: Implement complete 16-video playlist generation system
  analyze_r2_videos.py
  apps/onboarding/views.py
  apps/workouts/services/playlist_generator_v2.py
Owners: @alexbel, @frontend-team, @backend-team

fix: Remove conflicts with old playlist system
  apps/core/management/commands/smoke_v2_ready.py
  apps/workouts/services/__init__.py
  apps/workouts/services/playlist_v2_old.py
Owners: @alexbel, @backend-team

feat: Complete migration to unified R2-driven playlist system
  apps/core/management/commands/smoke_v2_ready.py
  apps/onboarding/views.py
  apps/workouts/services/playlist_generator_v2.py
  apps/workouts/views.py
  tests/test_playlist_v2.py
Owners: @alexbel, @backend-team, @frontend-team, @qa-team

fix: Resolve motivational cards image display issues
  apps/core/management/commands/smoke_v2_ready.py
  apps/core/services/exercise_validation.py
  bucket_policy.json
  templates/onboarding/question.html
Owners: @alexbel, @backend-team

fix: Исправлены размеры изображений в мотивационных карточках
  templates/onboarding/motivation_card.html
  templates/onboarding/question.html
Owners: @alexbel

fix: Исправлены мотивационные карточки - полноэкранные с фоном и правильными размерами
  templates/onboarding/question.html
Owners: @alexbel

fix: Исправлено отображение фотографий в мотивационных карточках - убран glass-контейнер
  templates/onboarding/question.html
Owners: @alexbel

feat: 🎨 ПОТРЯСАЮЩИЕ мотивационные карточки с WOW-эффектом\!
  templates/onboarding/question.html
Owners: @alexbel

fix: Добавлена команда исправления путей мотивационных карточек
  apps/onboarding/management/commands/fix_motivational_paths.py
Owners: @alexbel, @frontend-team

Add R2Video model migrations to replace VideoClip
  apps/workouts/migrations/0001_add_r2video_model.py
Owners: @alexbel, @backend-team

workouts: safe 0001 migration with IF NOT EXISTS
  apps/workouts/migrations/0001_add_r2video_model.py
  apps/workouts/migrations/0001_create_tables_safe.py
Owners: @alexbel, @backend-team

fix: Remove all references to non-existent CSVExercise fields
  apps/ai_integration/fallback_service.py
  apps/onboarding/views.py
  apps/workouts/catalog.py
  apps/workouts/management/commands/extract_exercises_from_r2.py
  apps/workouts/services/playlist_v2_old.py
Owners: @alexbel, @ml-team, @frontend-team, @backend-team

fix: Remove deleted commands from render.yaml preDeployCommand
  render.yaml
Owners: @alexbel

КРИТИЧНО: Исправить FieldError - заменить 'media' на 'video'
  apps/workouts/views.py
  templates/workouts/workout_day.html
Owners: @alexbel, @backend-team

fix: Convert 0002_initial to state-only migration via SeparateDatabaseAndState
  apps/workouts/migrations/0002_initial.py
Owners: @alexbel, @backend-team

Add generate_missing_playlists management command
  apps/workouts/management/commands/generate_missing_playlists.py
Owners: @alexbel, @backend-team

fix: Correct User.userprofile to User.profile in demo plan creation
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

fix: Complete UI and playlist improvements package
  apps/onboarding/views.py
  static/css/motivational-card.css
  templates/workouts/workout_day.html
Owners: @alexbel, @frontend-team

fix: Remove non-existent template filters causing TemplateSyntaxError
  templates/workouts/workout_day.html
Owners: @alexbel

fix: Improve motivational card image handling for vertical photos
  apps/onboarding/views.py
  static/css/motivational-card.css
  templates/onboarding/question.html
Owners: @alexbel, @frontend-team

fix: Extend demo plan to 21 days for proper testing
  apps/onboarding/views.py
Owners: @alexbel, @frontend-team

feat: Completely disable AI/GPT and fix playlist duplication issue
  apps/core/management/commands/test_full_user_journey.py
  apps/core/management/commands/test_workout_pages.py
  apps/onboarding/urls.py
  apps/onboarding/views.py
  config/settings.py
Owners: @alexbel, @backend-team, @frontend-team, @devops-team

feat: Disable all AI functionality - comment out AI integration code
  CLAUDE.md
  README.md
  apps/ai_integration/ai_client_gpt5.py
  apps/ai_integration/prompt_manager_v2.py
  apps/ai_integration/schemas.py
  apps/ai_integration/services.py
  apps/ai_integration/validators.py
  templates/base/base.html
  templates/onboarding/ai_analysis.html
  templates/onboarding/ai_analysis_comprehensive.html
Owners: @alexbel, @docs-team, @ml-team

fix: Fix video playback issues in workout player
  apps/workouts/models.py
  templates/workouts/workout_day.html
Owners: @alexbel, @backend-team

fix: Improve motivational card image handling for horizontal photos
  templates/onboarding/motivation_card.html
Owners: @alexbel

feat: Enhance video playlist with seamless continuous playback and modern design
  templates/workouts/daily_workout.html
Owners: @alexbel

.github/CODEOWNERS:

# Global owners
* @alexbel

# AI and ML components
/apps/ai_integration/ @alexbel @ml-team
/prompts/ @alexbel @ml-team

# Core workout logic
/apps/workouts/ @alexbel @backend-team
/apps/core/ @alexbel @backend-team

# Video and media handling
/apps/workouts/video_storage.py @alexbel @infra-team
/apps/workouts/services/ @alexbel @backend-team

# User interface and onboarding
/apps/onboarding/ @alexbel @frontend-team
/apps/users/ @alexbel @backend-team

# Infrastructure and deployment
/.github/ @alexbel @devops-team
/config/ @alexbel @devops-team
/scripts/ @alexbel @devops-team
Dockerfile* @alexbel @devops-team
docker-compose* @alexbel @devops-team

# Testing and QA
/tests/ @alexbel @qa-team
pytest.ini @alexbel @qa-team
.github/workflows/ @alexbel @devops-team

# Database and migrations
*/migrations/ @alexbel @backend-team @dba-team
/apps/*/models.py @alexbel @backend-team

# Documentation
README.md @alexbel @docs-team
CLAUDE.md @alexbel
*.md @alexbel @docs-team

# Configuration files
requirements*.txt @alexbel @backend-team
pyproject.toml @alexbel @backend-team
.env* @alexbel @infra-team
